<div class="masthead">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">

				<div class="large-12 columns masthead-headers">
					<p>Coming spring 2013</p>
					<h3>Become your kid's science superhero!</h3>

					<%= link_to "Sign up", new_teacher_registration_path, :class => "large button" %>
					<p>or</p>
					<%= link_to "Sign in", new_teacher_session_path, :class => "large button" %>
				</div>



			</div>

		</div>

	</div>
</div>
<div class="splash-info">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-2 columns">
					<%= image_tag("sleicher.jpg", class: "splash-images") %>
				</div>
				<div class="large-10 columns">
					<h3>"Just asking your child how was their school day and showing genuine interest in the learning that they are doing can have the same impact as hours of private tutoring"</h3>

					<h3>Andreas Schleicher, IPSA</h3>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="splash-info white">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-10 columns">
					<h3>"when parents play an active role, their children achieve greater success as learners, regardless of socioeconomic status, ethnic/racial background, or the parents’ own level of education"</h3>

					<h3>National Science Teacher Association</h3>
				</div>
				<div class="large-2 columns">
					<%= image_tag("sleicher.jpg", class: "splash-images") %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="splash-info white">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-4 columns">
					<h3>Some Text!</h3>
					<p>"when parents play an active role, their children achieve greater success as learners, regardless of socioeconomic status, ethnic/racial background, or the parents’ own level of education"</p>

					<p>National Science Teacher Association</p>
				</div>

				<div class="large-4 columns">
					<h3>Some more text!</h3>
					<p>"when parents play an active role, their children achieve greater success as learners, regardless of socioeconomic status, ethnic/racial background, or the parents’ own level of education"</p>

					<p>National Science Teacher Association</p>
				</div>

				<div class="large-4 columns">
					<h3>Even more text!!</h3>
					<p>"when parents play an active role, their children achieve greater success as learners, regardless of socioeconomic status, ethnic/racial background, or the parents’ own level of education"</p>

					<p>National Science Teacher Association</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="splash-info off-white">
	<div class="row">
		<div class="large-12 columns">
			<h3>Aspirations!</h3>
			<script src="http://thestartuplegitimizer.com/js/legitimizeme.min.js?pubs=bu-ma-tc-hu-wi-be-tn-bf-te-cn-fo-fc-nm-wa-ny-ec-ha-bb"></script>
		</div>
	</div>
</div>

<div class="splash-info dark">
	<div class="row">
		<div class="large-12 columns">
			<%= link_to "Sign up", new_teacher_registration_path, :class => "large button" %>
			<p>or</p>
			<%= link_to "Sign in", new_teacher_session_path, :class => "large button" %>
		</div>
	</div>
</div>
