<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="row">
	<div class="large-4 columns">
      <label for="customDropdown1">In which grade is your child? </label>
      <select id="customDropdown1" class="medium">
        <option>Kindergarten</option>
        <option>First grade</option>
        <option>Second grade</option>
        <option>Third grade</option>
        <option>Fourth grade</option>
        <option>Fifth grade</option>
      </select>
    </div>
  </div>

  <div><%= f.submit "Sign up" %></div>


<% end %>

<%= render "devise/shared/links" %>



