<% if teacher_signed_in? %>
<div class="background">
  <div class="row">
    <div class="large-12 columns">

      <div class="row">
        <div class="large-4 small-12 columns">
          <div class="hide-for-small panel">
            <h3>Subjects</h3>
            <h4 class="subheader">Here are topics that will be pertinent to you and your child.</h4>
            <%= link_to 'add a new subject', new_subject_path %>
          </div>
        </div>
        <div class="large-8 columns">
          <div class="row">
            <% @subjects.each_with_index do |subject, index| %>
              <div class="large-4 small-6 columns">
                <%= link_to image_tag(subject.image, :width => "1000", :height => "1000"), subject %>
                <div class="panel <%= @colors[index.modulo(5)] %>">
                  <h5><%= subject.title %></h5>
                </div>
              </div>
            <% end %>
          </div>
         

          

        </div>
      </div>
    </div>
  </div>
</div>

<% else %>
  <%= render 'static_pages/splash' %>

<% end %>